<div>
    <p>Full Name: <%= user.fullname %></p>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <p>location: <%= user.location %></p>
    <p><a href="/auth/logout">Logout </a></p>
    <img src=<%= user.profilePhoto %> />
</div>